<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor=""G:\APLHA PYTHON APIs\pyenv\Scripts\python.exe"|"G:\APLHA PYTHON APIs\pyenv\Lib\site-packages\wfastcgi.py""
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static files" stopProcessing="true">
          <action type="None" />
        </rule>
        <rule name="Flask" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="run.py" />
        </rule>
      </rules>
    </rewrite>
    <appSettings>
      <add key="WSGI_HANDLER" value="run.app"/> <!-- Or run.flask_app if you didn't rename it -->
    </appSettings>
  </system.webServer>
</configuration>
